*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
nav{
display: flex;
justify-content: space-between;
padding: 10px 20px;
}

.menu{
display: flex;
list-style: none;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
text-decoration: none;
 color: black;
 font-size: 18px;
 font-weight: bold;
}

.hero{
    background-color: burlywood;
    height: 500px;
    display: flex;
    justify-content: center;
}
main{
display: flex;
grid-template-columns: 1fr 1fr 1fr;
}
.logo-img {
width: 70px;
height: auto;
display: block;
}
.logo-container{
padding: 10px 20px;
float: left;
}